<% provide(:title, "About") %>
<div class="body-padding"></div>
<div class="mobile-padding">
    
<div class="row home-padding">
    <div class="center">
        <h1 class="logo">Skyline Journey</h1>
    </div>
</div>

<p>
</p>
    

<div class="row home-padding">
    
        <div class="about-main height-image"></div>
          

<div class="home-padding"></div>
Meet Marjorie & Ellen 😊 They have known each other for almost 10 years, and first traveled abroad together in 2017. 

Marjorie is an extremely experienced world traveler. She has been to Tokyo alone 15 times! She spends a full month there biannually for work. She has brought various friends and family along to Asia, to act as a tour guide & reveal to them the wonders of Japan. 

Ellen & Marjorie spent two weeks in Japan together in 2017. Ellen got to explore Tokyo and Mt. Fuji for the first time, and it was all totally stress-free because of Marjorie’s knowledge & guidance.

Ellen & Marjorie recently realized that together, they could make their dream job happen. Combining Marjorie's extensive experience in Japan & Ellen's work as a travel agent, they decided to launch Skyline Journey.
 
Skyline Journey is a US-based tour company. Marjorie & Ellen are the guides for small group tours, capped at around 20 people. Their goal is to give you a warm, welcoming, personalized, and authentic experience to the best of their ability.
</div>


<div class="row home-padding">
    
        <div class="about-1 height-image"></div>
        <a href="http://www.marjorieorourke.com/"><h2 class="logo">Click here to learn more about me!</h2></a>    

<div class="home-padding"></div>
Hi! I'm Marjorie O'Rourke, co-founder of Skyline Journey. We are a premiere American-based company, specializing in personalized, exclusive, worldwide travel.

I absolutely love to travel. I love waking up in a new location and seeing the amazing adventure before me. I'm also a foodie, so I really enjoy epicurean delights from all over this world.

My wanderlust began when I was a a teen, and has taken me to far-off and amazing locations everywhere on this great planet. I look back on many excursions in my life and remember the thrill of so many amazing adventures. I first realized the uplifit in perspective and spirit that travel can provide for us all when I was sailing towards Cairo on the deep azure Mediterranean sea. I felt so free!

I love the zestful, alive feelings I get when observing the wondrous Pyramid of the Sun in Teotihuacan, Central Mexico. Or the feeling of starlight dining under the Acropolis in Athens. My tastebuds were awakened forever one afternoon in a small Parisienne cafe. And I will always remember the feeling of the Great Pyramid in Cairo, Egypt against my back as my picture was snapped. So much action and excitement! But I must admit I also love the Caribbean Sea, and kicking my heals back to just relax once in a while! 

My journey took an amazing turn when I started a job with a company in Tokyo Japan. My first days in Tokyo were a bit challenging because I found myself in a modern culture on the other side of the planet, where I could not read, write or communicate with anyone! Luckily, I had three things going for me: a map, my interpreters at work, and my gusto.

Now, looking back at 8 years of journeying to Tokyo, Japan, I know and love this place deeply. I love the innocence here. I love the revitalizing honesty and quietude, and the foods are out of this world!  My experiences in Japan have been highlighted by my personal gratitude to my Japanese friends, who have showed me the insider view of Japan's culture. The streets of Tokyo, with their ultra-modern and old-world combinations, have become a home away from home for me. So, where ever I roam in this beautiful world, under the skylines of many destiantions that await me, I hope to take you along for the journey!    
</div>


<div class="row home-padding">
    
        <div class="about-2 height-image"></div>
        <a href="http://www.totravelandbloom.com/"><h2 class="logo">Click here to learn more about me!</h2></a>    

<div class="home-padding"></div>
Hello! My name is Ellen, co-founder of Skyline Journey :) My first major trip abroad was to Nepal, where I spent 4 months studying abroad...talk about culture shock!! I was so challenged and stretched by the experience, and also flat out amazed by many of the sights and people. I stayed in a remote mountain village, participated in Hindu holidays, and hiked in the Himalayas. Since then, I have not been able to get enough of that specific exhilaration which comes from experiencing new countries & cultures. I collect these experiences like gold.  

My most recent trip abroad was a whirlwind trip throughout Europe, where I visited 10 countries. I road-tripped around Iceland -- stumbling upon rainbows & waterfalls, charming shaggy ponies & wild sheep, and photographing mountain after mountain after mountain. I lounged on numerous hidden beaches of Portugal, tucked between sandstone cliffs and caves. I traipsed through Paris, picnic-ing along the Seine with wine at sunset. A definite highlight was a scenic train ride between Italy & Switzerland, which revealed to me the Matterhorn for the first time -- crowning jewel of the Swiss Alps. 

Japan, however, is surely one of my favorite places I've ever seen. In the heart of Tokyo, even if the bustling sidewalks seem at first chaotic, you quickly sense the order and peace you're surrounded with. You turn corners and find ornate shrines, and stop for tea at interesting cafes. The wonders are endless, within and without Tokyo. Mt. Fuji will captivate you, and you won't be able to stop staring at its beauty. Japan is a bucket-list destination like none other.

A huge passion project of mine is the travel blog I run: To Travel and Bloom (www.totravelandbloom.com). My goal in starting this blog was to hold on to memories, and keep my love for travel in the forefront of my mind. And travel just keeps becoming a bigger and bigger part of my life. 

I am also a travel agent working for Dreamavoo Travel and Tours, a CCRA-accredited agency, affiliated with Travel Planners International. Dreamavoo will be hosting Skyline Journey's premiere Japan trip...and I could not be more excited!!

</div>

&nbsp;

</div>
</div>