<% provide(:title, "Booking") %>
<div class="body-padding"></div>
<div class="row home-padding">
    <div class="center">
        <h1 class="logo">Skyline Journey</h1>
        &nbsp;
        <h2>We invite you to join us on our upcoming trip to Japan in Springtime 2019!</h2> 

        <h3><%= link_to "For trip details click here", info_path %></h3>
        <div class="mobile-padding">
        <p>
            To reserve your space, make a $99 deposit to Dreamavoo Travel & Tours, the travel agency hosting this trip, by clicking the PayPal button.
            <h3><u>We are offering early registration discounts:</u></h3>
   
                <p>$100 Early Registration Discount if you reserve your space before December 1, 2018.</p>
                <p>50 Early Registration Discount if you reserve your space before January 1, 2019.</p>
                <p>Note that this is a premiere small group tour with limited spaces... Reserve your space today!</p>
            
        </p>
   </div>
        &nbsp;
    
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="UTEJ3B7RB67MW">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>