<% provide(:title, "Contact") %>
<div class="body-padding"></div>
<div class="row home-padding">
    <div class="center mobile-padding">
        <h1 class="logo">Skyline Journey</h1>
        &nbsp;
        <iframe style="z-index: 2 !important" src="https://docs.google.com/forms/d/e/1FAIpQLSeSF3ThRYkBMcl7w_4x5A5oHu7ivOZa_RGdv4MXvZQ2tL-ZSQ/viewform?embedded=true" width="100%" height="1015" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
</div>