<% provide(:title, "Home") %>
<div class="body-padding"></div>
<h1 class="center logo">Skyline Journey</h1>
<p class="center logo home-padding">Small Group Tours</p>
<div class="row home-padding">
    <div class="col-md-8">
        <div class="background-gif-1 height-image zoom">
            <div class="logo-text">
                <h1 class="left logo">Tokyo Spring Cherry Blossom Tours 2019</h1>
                <p class="left logo">Tokyo</p>
                <p class="left logo">Hakone</p>
                <p class="left logo">Mt. Fuji</p>
                <p class="left logo">Kyoto</p>
            </div>
             <div>
                <a href="/trip1" role="button">Learn more!</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="background-gif-2 height-image zoom">
            <div>
                <a href="/contact" role="button">Contact Us!</a>
            </div>
        </div>
    </div>
</div>

<div class="row home-padding">
    <div class="col-md-4">
        <div class="background-gif-3 height-image zoom">
            
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="background-gif height-image">
            <div class="logo-image">
                
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="background-gif-4 height-image zoom">
            
        </div>
    </div>
</div>

<div class="row home-padding">
    <div class="col-md-4">
        <div class="background-gif-5 height-image zoom">
            <div>
                <a href="/about" role="button">About Skyline Tours</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-8">
        <div class="background-gif-6 height-image zoom">
            <div class="logo-text">
                <h1 class="left logo">Summer Mt. Fuji Tour 2019</h1>
                <p class="left logo">Mt. Fuji</p>
                <p class="left logo">Tokyo</p>
                <p class="left logo">Okinawa</p>
                <p class="left logo">Japan's Southern Islands</p>
            </div>
             <div>
                <a href="/trip2" role="button">Learn more!</a>
            </div>
        </div>
    </div>
</div>
<div class="bottom-padding-home"></div>
