<% provide(:title, "Home") %>
<% provide(:title, "Home") %>
<div class="body-padding"></div>
<div class="mobile-padding">
    
<div class="row home-padding">
    <div class="center">
        <h1 class="logo">Skyline Journey</h1>
        <p class="center logo home-padding">Small Group Tours</p>
    </div>
</div>

<div class="row home-padding">

        <div class="background-gif height-image center">
            <div class="logo-image mobile-z">
                
        </div>
</div>

<div class="home-padding">
    <a href="/trip1">
    <div class="background-gif-1 height-image">
            
                <h1 class="center logo mobile-links">Tokyo Spring Cherry Blossom Tours 2019</h1>
                <p class="left logo mobile-links">Tokyo</p>
                <p class="left logo mobile-links">Hakone</p>
                <p class="left logo mobile-links">Mt. Fuji</p>
                <p class="left logo mobile-links">Kyoto</p>
    
        </div>
    </a>
</div>

<div class="home-padding">
    <a href="/trip2">
        <div class="background-gif-6 height-image">
           
                <h1 class="center logo mobile-links">Summer Mt. Fuji Tour 2019</h1>
                <p class="left logo mobile-links">Mt. Fuji</p>
                <p class="left logo mobile-links">Tokyo</p>
                <p class="left logo mobile-links">Okinawa</p>
                <p class="left logo mobile-links">Japan's Southern Islands</p>
            
        </div>
    </a>
</div>