<div class="body-padding"></div>
<div class="row home-padding">
    <div class="center">
        <h1 class="logo">Skyline Journey</h1>
    </div>
</div>
<div class="center">
We invite you to join us on our upcoming trip to Japan in March 2019! Read on for more important info.



$100 Early Registration Discount if you reserve your space before December 1, 2018

$50 Early Registration Discount if you reserve your space before January 1, 2019

 

Note that this is a premiere small group tour with limited spaces, capped at 22 travelers. Reserve your space today! We can't wait to travel the world with you!

&nbsp;

<h1 class="logo">Trip dates:</h1> 
</div>
<ul>
<li>Arrive in Haneda Airport (HND), Tokyo on Saturday March 23, 2019. This means you will likely need to begin your journey on Friday March 22 -- it takes a long time to fly to the other side of the world! Tokyo's timezone is also ahead of Eastern Standard Time by 13 hours (14 hours after daylight savings), so you "lose" that time.</li>
<li>Depart Kansai International Airport (KIX), near Kyoto on Wednesday April 3, 2019. Again, this means you will spend likely a full 24 hours traveling, but you do "gain back" the time from the timezone changes.</li> 
<li>Airfare is not included in the tour package, but we would be happy to help you arrange the best airfare for you.</li>
<li>We will do our best to meet you at the Haneda Airport and escort you to the hotel. Please either organize your air travel through us, or inform us of your arrival and departure times. We will also travel as a group from Kyoto to the Kansai International Airport at the end of the trip.</li>
</ul>
 

<h2 class="logo center">Inclusions:</h2>
<ul>
<li>All accommodations</li>
    <ul>
     <li>5 nights Western-style hotel room in Tokyo</li>
     <li>6 nights Japanese-style ryokans in Hakone, Kawaguchiko, & Kyoto</li>
     <li>Accommodations are available at 2 different price points: high-end (primarily 4*) or budget (primarily 3*)</li>
    </ul>
<li>All breakfasts</li>
<li>3 dinners</li>
<li>Transportation between cities, and most transportation around cities</li>
<li>Luggage forwarding between cities</li>
<li>Admissions & activities described in itinerary (Everything from ascending Tokyo Tower to experiencing a robot cafe to soaking in green tea baths!)</li>
<li>Two friendly, full-service tour guides that speak English, will help you every step of the way, and can't wait to share the Japan that they know & love</li> with you 
<li>Thorough informational pre-departure packet, filled with info about cultural norms, what to expect, how to pack, and so much more</li>
</ul>
 

<h2 class="logo center">Exclusions:</h2>
<ul>
<li>International flights, although we can help you arrange the best airfare for you</li>
<li>Travel insurance, although this is strongly recommended, and we can help you secure the best plan for you</li>
<li>Additional dinners & lunches</li>
<li>Alcoholic beverages</li>
<li>Some transportation within Tokyo, such as daily subway rides to activities</li>
<li>Personal expenses such as shopping, telephone, and laundry</li>
</ul>
 

<h2 class="logo center">Activity Level:</h2>
<ul>
<li>This active tour will allow you to experience Japan in an intimate and exciting way...you won't be stuck on a tour bus! You should expect to spend part of each day touring on foot. This will allow you to come face-to-face with the Wonders of Japan!</li>
</ul>

 

<h2 class="logo center">Pricing:</h2>
<ul>
<li>Starting from $4,884, based on double occupancy room (Inquire about single rooming and supplements)</li>
<li>There are two available levels of accommodation: high-end (primarily 4*) and budget (primarily 3*). This is in order to make the trip accessible to a wide range of travelers. Both levels of hotels are directly nearby each other, and all other aspects of the trip remain the same, so that we will remain one cohesive group.</li>
<li>$100 Early Registration Discount if you reserve your space before December 1, 2018</li>
<li>$50 Early Registration Discount if you reserve your space before January 1, 2019</li>
<li>$99 deposit to reserve your space</li>   
<li>One third of remaining balance (after $99 deposit) due within one month of deposit date</li>
<li>Full remaining balance due at least 40 days before trip departure</li>
</ul>
 

<h2 class="logo center">Additional Information:</h2>
<ul>
<li>We will do our best to accommodate dietary restrictions. Note that Japanese meals are heavily centered on seafood, rice, and noodles. However, Ellen is a vegetarian and has successfully been able to maintain her diet in Japan. Please let us know about special meal restrictions.</li>
<li>This personalized journey is truly a once-in-a-lifetime experience. We could not be more thrilled that you are ready to encounter all of Japan's wonders and magic alongside us!</li>
<li>**By making a $99 deposit, visitors understand that this is a non-refundable deposit toward their trip, and the only way to reserve their space.</li>
</ul>
<div class="bottom-padding-home"></div>