<div class="body-padding"></div>
<div class="row home-padding">
    <div class="center">
        <h1 class="logo">Skyline Journey</h1>
        <h1 class="logo">Summer Mt. Fuji Tour 2019</h1>
        &nbsp;
        <h1 class="logo">The trip will include:</h1>
            <h2>Tokyo</h2>
            <h2>Mt. Fuji Sunrise Climb</h2>
            <h2>Japan's Southern Islands</h2>
        <h1 class="logo">More info coming soon!</h1>
    </div>
</div>
