<div class="body-padding"></div>
<div class="mobile-padding">
    
<div class="row home-padding">
    <div class="center">
        <h1 class="logo">Skyline Journey</h1>
        <h1 class="logo">Tokyo Spring Cherry Blossom Tour 2019</h1>
    </div>
</div>

<div class="row home-padding">
        <div class="trip1-day1 height-image center">
        </div>
    
    
<h1 class="logo center">Day 1</h1>
<ul>
<li><strong>Meiji JIngu Shrine:</strong> One of our favorite stops located in Shibuya, Tokyo is the shrine that is dedicated to the deified spirits of Emperor Meiji and his wife, Empress Shoken. 
<li><strong>Omotesando Street and  Harajuku's Takeshita street:</strong> On our way to the Meiji shrine we will stroll along the famous Omotesando Street known as the Champs Elysees of Tokyo. This area along with Harajuku's Takeshita street offer interesting shopping experiences from high end fashion  to vintage and cosplay shops.</li> 
<li><strong>Shibuya:</strong> This area is a major commercial and business center housing two of the busiest railway stations in the world. It also offers a real "lost in translaion" experience for travelers with its infamous Shibuya Crossing area which is a 5 point intersection that truly exhibits Tokyo's knack for controlled chaos! This area is like New York Times Square. We will visit interesting shopping at the underground mall of Mark City, which houses delicious food choices and great examples of the unique cuisine of Tokyo. I absolutely love the Chestnut candies they sell here, and the salted Sakura blossoms along with Takoyaki (octopus fritters) and so many more delicacies! 
We will adventure on to an amazing automated sushi restaurant where you can sample the future of dining by ordering your choices on an iPad like device and watching your order arrive via mini-train to your spot! It is a uniquely Japanese experience.</li> 
<li><strong>Roppongi:</strong> This is one of my favorite areas in Tokyo, mainly because I've lived in this district tri-monthly for the last 8 years. I love walking on Roppongi Dori (street) towards Roppongi Hills, (the highway beside the street is a highly organized triple decker!) to Roppongi Hills shopping area, an ultra modern complex housing a variety of restaurants, bars and stores. Mori Art Museum and Observatory is located here, along with an amazing underground network of Japan's intricate subway system. This area features an ultra modern look and interesting views! We will visit little quaint Azabu Juban area and one of my favorite Japanese bakeries there. They make the best Hokaido Milk bread, a unique sweet bread only found in Japan! Then on to Mid Town, to see more of the amazingly modern Tokyo architecture and visit a high-end fruit shop where each gardener has his picture tag on the award winning and incredibly expensive piece of fruit!</li> 
<li><strong>Dinner at Gonpachi:</strong>  This iconic Japanese restaurant has a famous past, filled with movie star visitors and the filming of Kill Bill movies. They make their own Soba noodles (buckwheat) here, and serve you with the traditional Japanese yell!</li> 
</ul>

</div>

<div class="row home-padding">
  
        <div class="trip1-day2 height-image center">
        </div>
    
    
    
<h1 class="logo center">Day 2</h1>
<ul>
<li><strong>Asakusa:</strong> Today we visit the Asakusa district in Taito, Tokyo. We will walk along the Shitamachi area filled with amazing shops and food sellers towards the famous Senso-ji, a Buddhist temple dedicated to the Bodhisatva Cannon (compassion). This is an amazing place filled with shops and stands, old world style and modern. I always marvel at the McDonalds and Burger king restaurants in Tokyo. You may see one along your journey and politely smile at the difference between the American style and Japanese style cuisine.</li>
<li><strong>Akihibara:</strong> This is a lively area filled with floor to ceiling stores dedicated to cosplay, anime, video games and arcades! You will be able to see many Japanese people dressed in character outfits and look in on a "Maid Cafe"! One time we visited the cafe area, stopping briefly into the Joan of Arc Cafe. I will say its a really strange experience!</li>
<li><strong>Ryogoku:</strong>  This area is where the Sumo wrestlers live, train and wrestle during Sumo Season. Here you can see the Kokugikan (stadium), Sumo Stables (where the Sumo wrestlers live and train) and have a unique lunch called chanko nabe, the staple food of Sumo wrestlers! This area offers a variety of museums including the Edo-Tokyo Museum, the Japanese Sword Museum, and others.</li> 
<li><strong>Chiyoda Castle Area:</strong> One of the most vibrantly beautiful areas during Sakura (cherry) Blossom season. This area has an amazing Oedo period castle, and river dripping with cherry trees. Many Sakura Blossom Festivals are held each year in this area. Imagine yourself strolling along under the pink trees with your warm spring wine and a delightful skewer of Japanese festival food!</li>
<li><strong>Hiroo:</strong> This area is the home of the expat community, and one of my dear favorites! This small area houses unique local shops, my favorite Fox Shrine and awesome restaurants and bakeries. You can relax in a beautiful park that was once owned by a Samurai.</li>
<li><strong>Tokyo Sky Tree:</strong> The Sky Tree is the tallest structure in Japan (2,080ft) and offers a great view of Tokyo, Mt. Fuji, and the surrounding area. There are multiple levels for optimized viewing.</li>
</ul>
    
</div>

<div class="row home-padding">
  
        <div class="trip1-day3 height-image center">
        </div>
   
    
    
<h1 class="logo center">Day 3</h1>
<ul>
<li><strong>Tokyo's Fish Market:</strong> TBA</li>
<li><strong>Odaiba:</strong> This area, located by the sea, originates as an artificially built island built for defensive purposes during the 1850's. It features man-made seashore areas and a host of interesting areas to view, shops and cafes. The Tokyo Statue of Liberty is located here, along with a fantastically modern building called the Miraikan and Megaweb, and Tokyo's Toyota car exhibition hall. In Palatte Town you can ride a 377 ft. ferris wheel, or visit Venus Fort, a Venice themed shopping center. Fuji Television is located here too.</li> 
<li><strong>Oedo Onsen Monagatari experience:</strong> This wonderful experience will give you the true taste of Japanese culture. You can relax in the Oedo style onsen area filled with unique and memorable experiences. In Japanese custom it is wonderful to visit the onsen with your family and experience relaxation and happiness! During this experience you will be able to wear a Yukata (Japanese robe). Maybe you will try soaking in a hot spring where water rises up from 1400 meters underground, or walking outside through a serene and delightful "river" made to increase your vitality, or having a fishy pedicure, where little fish nibble on your foot skin! This onsen features a multitude of spa treatments, hot spring areas, awesome food, and reflexology. You can also lay in the salt bed area if you like. One of my favorites things about this onsen is the unique food court area designed to look like an Oedo period Japanese village. Here you can delight in so many delicious food choices and relax with a beer or green tea. This evening will fill you with peace and happiness.</li>
<li><strong>Rainbow Bridge:</strong> On our way home from the onsen we will have wonderful views of the Rainbow Bridge, a 798 meter suspension bridge that lights up like a rainbow in the evening. As we cross the bridge, we will have wonderful views of Tokyo Bay.</li>
</ul>

</div>

<div class="row home-padding">
    
        <div class="trip1-day4 height-image center">
        </div>
   
    

<h1 class="logo center">Day 4</h1>
<ul>
<li><strong>Tokyo Station area:</strong>  Tokyo Station is a large, imposing brick building dating back to 1914 in the Marunuchi business district just east of the Imperial Palace. It was modeled after the Amsterdam Centraal Station which opened in 1889. It is a bustling hub of underground subway channels, Shinkansen, and food stands.</li>
<li><strong>Imperial Palace:</strong> The Imperial Palace offers a wonderful look at life during the Edo period of Japan. This castle was the seat of the Tokugawa shogun who ruled Japan from 1603 until 1867. In 1868 the Shogunate was overthrown, and the country's capital and imperial residence were moved from Kyoto to Tokyo. In 1888 a construction of a new Imperial Palace was completed, however it was destroyed during World War Two, and rebuilt in the same style afterwards. You will enjoy the beautiful Kokyo Gaien and Nijubashi (garden and gates). The Imperial Family has a residence here, but visitors can only see them on January 2 (New years greeting) and December 23 (Emperor's Birthday) from the inner palace ground's balcony.</li>
<li><strong>Shiodome:</strong> One of Tokyo's most modern areas featuring the Sio-Site, a collection of skyscrapers that are mainly businesses. Here, we will visit the beautiful Hamarikyu Garden and experience a tea ceremony!</li> 
<li><strong>Shinjuku:</strong> This is a large and wild area of Tokyo having many points of interest, including strange areas such as the Golden Gai, a tiny shany style area where musicians, actors and directors gather. Here the walls of the stands are covered with film posters! The National Garden is located here with its beautiful grass and old world views. We will visit an all-robot show at the Robot Cafe! Shinjuku gets pretty wild after dark especially in the crime ridden red light district, Kabukich.</li> 
<li><strong>Karaoke-Kan or Yakitori experience:</strong> Depending on how exuberant we feel we can visit the Karaoke-Kan, the karaoke bar where the movie Lost in Translation was filmed, or go for Yakitori, a Japanese favorite of small skewers of meats and vegetables.</li>
</ul>
    
</div>

<div class="row home-padding">

        <div class="trip1-day5 height-image center">
        </div>
    
    
    
<h1 class="logo center">Day 5</h1>
<ul>
<li>First we will take the Odakyu Railway form Shinjuku Station, Tokyo to Odawara Station. 
We will Stop at <strong>Odawara Castle</strong>, a mid 15th century castle owned by the Hojo Clan, one of Japan's most powerful clans during the Warring States Era. Since then, the castle has fallen and been rebuilt many times. 
<li>From Odawara Station we will venture on to <strong>Hakone</strong> via the Hakone Tozan Railway from Odawara to Hakone. The Hakone Tozan Railway offers breathtaking views and is the oldest mountain railway in Japan. The steep mountain passes and beautiful forest views make this trip spectacular. 
Hakone is a beautiful mountainous region of Japan, famous for its hot springs and iconic view of Mt. Fuji.</li> 
<li>Arrive at Hakonemachi-ko port of <strong>Lake Ashi.</strong>
Now we will board the Lake Ashi Pirate Ship Sightseeing Cruise and set sail across the lake with beautiful views of the Hakone-Jinja Shrine, Kuzuryu-Jinja Shrine and other natural wonders. We arrive at Hakone Togendai Port.</li>
<li>From Hakone Togendai Port we board the <strong>Hakone Ropeway to Owakudani Station:</strong> We now will take the cable car ropeway with beautiful sights of the Japanese forest to Owakudani, Hakone's famed viewing spot for active sulfur vents! Owakudani is a volcanic valley created around 3000 years ago as a result of the explosion of the Hakone volcano. It is a popular area for interesting views and the black eggs (kuro-tamago), a local specialty! They are hard boiled in the hot springs, turning them black. The eggs are very yummy and are said to give you 7 extra years of life!</li> 
<li>We take the <strong>Hakone Ropeway back to Owakudani Station</strong> and to our lovely Ryokan in Hakone. A Ryokan is a traditional Japanese inn featuring tatami mat floors, sliding paper doors and futons. Here most guests relax in their yukatas (robe), speak with the proprietress, and dine on traditional Japanese breakfasts!  (Traditional Japanese breakfast consists of miso soup,rice, grilled fish,Japanese style omlet and pickles). Like I always say, " when in Japan......." This alternative style of hotel is welcoming and really gives you an authentic Japanese experience!</li> 
<li><strong>Dinner in Hakone</strong></li> 
</ul>
   
</div>

<div class="row home-padding">
 
        <div class="trip1-day6 height-image center">
        </div>

    

<h1 class="logo center">Day 6</h1>
<ul>
<li><strong>Hakone tour:</strong> Today we will visit the Open air Museum with it's harmonic balance of nature and art, the Hakone Shrine, hidden in the dense forest, and a few other stops along the way depending on your preferences with the Hakone Free Pass. This pass takes us around Hakone, stopping at interesting sights along the way. When I visited Hakone, we stopped at the beautiful garden where I had delicious rose-flavored ice cream with rose jam, and visited the house of "The Little Prince", a story book character's home come alive!</li> 
<li>This afternoon we will visit the whimsical <strong>Hakone Kowaki-en Yunessun.</strong> We end our day at the hilarious and relaxing Yunessun Onsen, a delightful coed hot spring featuring unique and traditional onsen experiences for young and old to enjoy! This place is so fun with its coffee and wine onsens, and the ancient Roman-like changing skies in the atrium area! Outside there are fun and gentle slides and tons of laughter.</li>
</ul>
    </div>

<div class="row home-padding">

        <div class="trip1-day7 height-image center">
        </div>

<h1 class="logo center">Day 7</h1>
<ul>
<li>Today we leave to visit Mt. Fuji and Lake Kawaguchiko. Mt. Fuji is by far one of the most memorable sites of Japan. After traveling a short distance by bus with its scenic views of the lower areas and forests of the mountain, we will arrive at Gotemba Station. Next we will take a bus to the 5th level of Fuji-san where we will spend a little time visiting the Fuji shrine and eating steaming noodles along with a delicious Fuji cake (or two!).</li>
<li>This afternoon we will visit the 5 Lakes District at the base of Mt. Fuji. This unique experience is highlighted with possible stops around Lake Kawaguchiko at the Kachi Kachi Yama Ropeway, a 3 minute 220 meter height ride to the top of Mt. Kachi Kachi. Featuring Rose gardens for Sakura blossom watching, Organ Hall, where the building actually is a large music box, and The Bell of Tenjo, where ringing it will make your wishes come true. Then we will visit Lake Saiko with its Aokigahara Primeval Forest, Saiko Iyashi no sato NENBA, a dignified settlement with thatched houses, culture, ancient Japanese artisans, great food, and an awesome view of Mt. Fuji! Depending on our time, we may stop at the Saiko Bat Cave or the Ice Cave for a fun adventure.</li> 
</ul>

</div>

<div class="row home-padding">
    
        <div class="trip1-day8 height-image center">
        </div>

    

<h1 class="logo center">Day 8</h1>
<ul>
<li>We will travel via <strong>Shinkansen</strong> from Mt. Fuji area to Kyoto. The Shinkansen is Japan's fastest way to travel. This bullet train achieves speeds from 150-200 mph. From its sleek exterior to its uniquely Japanese feel, this is a memorable experience in itself!</li>
<li>We will arrive in <strong>Kyoto.</strong> Our first day in Kyoto will begin with an exciting trip through the 10,000 gates of the Fushimi Inari Shrine. This wondrous hike is lined with rows of brilliant orange/red Senbon Tori (gates). The custom of donating a tori to have your wishes come true started during the Edo period (1603-1868 ad.). Along the way you may stop for a snack at one of the local cafes, featuring interesting ice cream flavors like purple yam or Sakura blossom, or a cup of hot ryokucha (green tea). As you reach the top of the beautiful mountain the views of Kyoto and beyond are spectacular!</li> 
<li>Today we will visit Kyoto's <strong>Higashiyama area</strong> with its winding narrow streets, rickshaws, and other interestingly Japanese aspects. Maybe you will stop in a unique incense shop, or purchase some traditional Kiyomizu-yaki pottery. This area really gives you the feeling of Edo period Kyoto. By now you will be hungry and ready to stop at a small Kyoto restaurant for a delicious local lunch! We will continue our walk to the Ryozen Kannon, a war memorial commemorating the dead. The sky high, 24 meter statue of the Bodhisattva Avalokiteshvara was built in 1955. This is a very amazing area to visit.</li>
<li> We will Walk around Kyoto's <strong>Gion area</strong> towards <strong>Yasaka Shrine.</strong> This is one of Kyoto's most famous shrines, founded over 1,350 years ago. This huge complex is an unforgettable experience here in Kyoto.</li> 
<li><strong>Dining Kyoto Style:</strong> After viewing the shrine we will have a Kyoto style dining experience in the oldest area of Gion. The foods of Kyoto are different in flavor and form from those of Tokyo. This is the tofu capital of the world, where tofu tastes like it's made from sweet cream! Yuba or tofu skin is a unique and delicious specialty along with Kaiseki (Japanese haute cuisine), Shokin ryori (Buddhist vegetarian cuisine), Kyo-wagashi (Kyoto sweets), and Yudofu (cooked tofu in hot broth). Kyoto sushi is a molded variety made with pickled fish! Along the ancient streets you may spot Geisha (geiko as the Kyotians say) or Maiko rushing to their engagements. Next, take an evening stroll along the banks of the Kamo River with its interesting restaurants and shops towards more modern Kyoto areas.</li>  
</ul>
 
</div>

<div class="row home-padding">

        <div class="trip1-day9 height-image center">
        </div>

    

<h1 class="logo center">Day 9</h1>
<ul>
<li><strong>Arashiyama:</strong> Today will will visit the town of Arashiyama for unique experiences in sight seeing. Arashiyama is a pleasant district at the outskirts of Kyoto. Its landmark is the wooden Tgetsukyo Bridge with the forested Mt. Arashiyama as a backdrop. There are many things to do in Arashiyama including shops, cafes, and a bamboo forest!</li> 
<li>We will visit <strong>Tenryu-ji Temple</strong> with its finest gardens and mountain views and stroll through the Bamboo Grove to the Kameyama-koen park, a lovely hill top area with wild monkeys! 
Along our route will will see many temples and shrines, and possibly some amazing other happenings. Last year when I was walking around this area, I came upon a local hard boiled egg stand complete with salt and sitting areas! It was really cool to sit and eat an egg with the other people from the neighborhood!</li> 
<li><strong>Adashino Nenbutsu-ji:</strong> Along this walk we will experience a unique view of rural Japan. The first time I visited this temple, we had a bit of a confusing time getting here, but it was totally worth the walk/maybe bus ride! This temple area is one of the most interesting places featuring 8,000 Buddhist statues placed in memory of those who died without kin.</li>
<li><strong>Dining in Kyoto/Gion area.</strong><li>
</ul>
  
</div>

<div class="row home-padding">

        <div class="trip1-day10 height-image center">
        </div>

    

<h1 class="logo center">Day 10</h1>
<ul>
<li><strong>Mt. Kurama:</strong> We begin our day with a cable car and then a 20 minute easy hike up Mt. Kurama to the Kuramadera Temple. This is a very interesting walk with tales of the legendary Tengu (heavenly dog) along the way! Folklore has it that this forest is said to be the home of yokai or supernatural beings. The forest floor is a unique and interesting woven mass of tree roots. We will have lunch atop Mt. Kurama before our hike back downward. This area is the historical birthplace of Reiki, according to Dr. Usui!</li>
<li><strong>Kyoto Gosho Imperial Palace:</strong> This was one of the active palaces of the Emperor of Japan, and used to be the residence of the Imperial Family until 1868 when the capital was moved to Tokyo. The complex is immense, featuring Edo style palace rooms and expansive garden areas.</li>
<li><strong>Evening strolls and dinner in Kyoto/Gion.</strong> One evening, I found myself strolling through an unknown part of this city to visit a small temple with a Sakura blossom festival. It is always a lovely evening in Kyoto. By now you are relaxed and embodying a Japanese perspective!</li>
</ul>
    
</div>

<div class="row home-padding">

         <div class="background-gif height-image center">
            <div class="logo-image">
                
            </div>
        </div>

    
    
<h1 class="logo center">Day 11</h1>
<ul>
    <li><strong>Transport from Kyoto to Osaka International Airport. Have a safe flight home!</strong></li>
</ul>
    
</div>

</div>
<ul><li>*Itinerary subject to change without notice dependant on weather, daily time allowances, and attraction availability.</li></ul>