@import "bootstrap-sprockets";
@import "bootstrap";

/* Will update with customer input */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$white: #ffffff;
$light-gray: #cfcfd1;
$dark-gray: #808080;
$dark-gray-darker: #5e5f60;
$black: #000000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.mobile-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-z {
  z-index: 1 !important;
}

.logo {
  font-family: 'Dancing Script', cursive;
}

.logo-image {
  border-radius: 5px;
  background-image: url("frontlogo.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: 9999;
  position: relative;
  top:0;
  left:0;
  height: 100%;
  width: auto;
}

.background-gif {
  border-radius: 5px;
  background-image: url("moving-clouds2.gif"),  url("frontlogo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.background-gif-1 {
  border-radius: 5px;
  background-image: url("mt-fuji-sakura.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.background-gif-2 {
  border-radius: 5px;
  background-image: url("sakuraclose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} 

.background-gif-3 {
  border-radius: 5px;
  background-image: url("headshots1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} 

.background-gif-4 {
  border-radius: 5px;
  background-image: url("headshots2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} 

.background-gif-5 {
  border-radius: 5px;
  background-image: url("TokyoShrineStockPhoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} 

.background-gif-6 {
  border-radius: 5px;
  background-image: url("MtFujiStockPhoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} 

.about-main {
  border-radius: 5px;
  background-image: url("ellenandmarj.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
} 

.about-1 {
  border-radius: 5px;
  background-image: url("marjabout.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
} 

.about-2 {
  border-radius: 5px;
  background-image: url("ellenabout.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
} 

.trip1-day1 {
  border-radius: 5px;
  background-image: url("trip1day1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trip1-day2 {
  border-radius: 5px;
  background-image: url("trip1day2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trip1-day3 {
  border-radius: 5px;
  background-image: url("trip1day3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trip1-day4 {
  border-radius: 5px;
  background-image: url("trip1day4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trip1-day5 {
  border-radius: 5px;
  background-image: url("trip1day5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trip1-day6 {
  border-radius: 5px;
  background-image: url("tokyo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trip1-day7 {
  border-radius: 5px;
  background-image: url("trip1day7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trip1-day8 {
  border-radius: 5px;
  background-image: url("trip1day8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trip1-day9 {
  border-radius: 5px;
  background-image: url("trip1day9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trip1-day10 {
  border-radius: 5px;
  background-image: url("trip1day10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.height-image {
  height: 25em;  
}

.home-padding {
  padding-bottom: 25px;
}

.zoom {
  transition: transform .2s;
  &:hover {
    transform: scale(1.25);
  }  
}

.col-md-4 {
  z-index: 2 !important;
  &:hover {
    z-index: 9999 !important;
  }
}

.col-md-8 {
  z-index: 2 !important;
  &:hover {
    z-index: 9999 !important;
  }
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* universal */

body {
  padding-top: 0px;
}

#home {
  //background: url(#);
  background-repeat: no-repeat;
  background-size: 100%;
  }
  
#homephone {
  //background: url(#);
  background-repeat: no-repeat;
  }
  
.center {
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.left {
  text-align: left;  
}

.right {
  text-align: right;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  u {
    text-decoration: underline;
  }
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $dark-gray-darker;
  u {
    text-decoration: underline;
  }
}

h4 {
  font-size: 1.0em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar {
  background-color: $white;
  background-image: none;
  background-repeat: no-repeat;
  opacity: 0.6;
   -webkit-box-shadow: none;
  box-shadow: none;
 }
 
.navbar-nav {
    display:inline-block;
    float:none;
    &:hover {
      background-color: none;
    }
}

#head-logo {
  font-family: 'Miss Fajardose', cursive;
  font-size: 4.0em;
  color: $gray-light;
  text-transform: none;
  letter-spacing: 1.2px;
  padding-top: 9px;
  font-weight: light;
}

.logo-nav {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

/* mobile menu */

.mobile-menu {
  padding-left: 20px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* dropdown */

.dropbtn {
  transition: transform .2s;
    border: none;
    cursor: default;
}

.dropdown {
  transition: transform .2s;
    padding: none;
    margin: auto;
}

.dropdown-content {
  transition: transform .2s;
    display: none;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

.dropdown-content a {
  transition: transform .2s;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  color: $gray;
  transition: transform .2s;
}

.dropdown:hover .dropdown-content {
  transition: transform .2s;
    display: block;
}

/* show content on hover for zoom class*/

.zoom div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

.zoom .logo-text{
 position: absolute;
 top: 0;
 left: 0;
 width: auto;
 background: none;
 color: $black;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */

.zoom:hover{
 cursor: pointer;
}

.zoom:hover div{
 width: auto;
 visibility: visible;
 opacity: 1;
 padding: 8px 15px;
}

/* Responsive Header */

.topnav {
  overflow: hidden;
  background-color: $white;
  opacity: 0.8;
  //position: absolute;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.topnav a {
  float: center;
  display: block;
  color: $black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  &:hover {
    color: $gray;
  }
}

.active {
  background-color: #4CAF50;
  color: $black;
}


@media screen  {
  .topnav a:not(:last-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen  {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    //position: absolute;
    position: fixed;
    right: 0;
    top: 0;
    color: $black;
    &:hover {
      color: $gray;
    }
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.fa-2x {
  font-size: 2em !important;
}

.mobile-links {
  color: $black !important;
  font-weight: bold;
}

.nav .li {
  display: inline-block;
}

.body-padding {
 padding-top: 3em; 
}

.bottom-padding-home {
  padding-bottom: 8em
}

.unstyled {
  list-style: none !important;
  text-align: center;
}