
<div class="topnav" id="myTopnav">
<div class="center">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <div class="dropdown">
      <a href="#" class="dropbtn">Trips</a>
        <div class="dropdown-content">
          <a href="/trip1">Tokyo Springtime 2019</a>
          <a href="/trip2">Tokyo August 2019</a>
        </div>
    </div>
    <a href="/info">I'm interested, what's next?</a>
    <a href="booking">Book your trip!</a> 
    <a href="/contact">Contact us!</a>
    
    
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class=" fa fa-2x fa-bars"></i>
  </a>
  </div>
</div>


