<!DOCTYPE html>
<html>
  
  <%= display_meta_tags site: 'Skyline Journey' %>
  <meta property="og:url"           content="https://www.skylinejourney.com/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Skyline Journey" />
  <meta property="og:description"   content="Small Group Tours" />
  <meta property="og:image"         content="assets/frontlogo.jpg" />
  <meta property="og:image" content="#{image_url('frontlogo.jpg')}" />
  
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title><%= full_title(yield(:title)) %></title>
      
      <%= favicon_link_tag 'favicon-32x32.png' %>
      
      
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      <%= render 'layouts/header' %>
  </head>
    <body>
    <%= render 'layouts/application_layout' %>
</body>

</html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
